h3{
	text-decoration: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80px;
}
p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #d9d9d9;
}
body {
	background: url(field.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100vh;
	position: relative;
}
li{
	font-family: Arial, Helvetica, sans-serif;
	list-style: none;
	display: inline-block;
	color: white;
}